# terraform.tfvars.example
# Copy this to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars — it contains your subscription ID

subscription_id     = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
location            = "uksouth"
resource_group_name = "devops-lab-rg"
cluster_name        = "devops-lab-aks"
node_count          = 2
node_vm_size        = "Standard_B2s"
acr_name            = "devopslabacr"         # must be globally unique — change this
environment         = "dev"
